{% extends 'base.html.twig' %}

{% block title %}Acceuil
{% endblock %}

{% block body %}
	<h1>Bienvenue sur votre boutique en ligne</h1>

	<h2>Promotions</h2>
	<ul>
		{% for promotion in promotions %}
			<li>{{ promotion.name }}:
				{{ promotion.discount }}% off ({{ promotion.startDate|date('Y-m-d') }}
				to
				{{ promotion.endDate|date('Y-m-d') }})</li>
		{% endfor %}
	</ul>

	<h2>Nouvautes</h2>
	<ul>
		{% for dvd in newReleases %}
			<li>{{ dvd.getFilm().getTitle() }}
				({{ dvd.getReleaseYear() }}):
				{{ dvd.getFormat() }}
				-
				{{ dvd.getPrice() }}$</li>
		{% endfor %}
	</ul>
{% endblock %}
