{% extends 'base.html.twig' %}

{% block title %}
	{{ dvd.getFilm().getTitle() }}
{% endblock %}

{% block body %}
	<h1>{{ dvd.getFilm().getTitle() }}</h1>
	<p>{{ dvd.getFilm().getDescription() }}</p>
	<ul>
		<li>Année d'apparition:
			{{ dvd.getReleaseYear() }}</li>
		<li>Durée:
			{{ dvd.getFilm().getRuntime() }}
			minutes</li>
		<li>Réalisateur:
			{{ dvd.getFilm().getDirector() }}</li>
		<li>Maison de production:
			{{ dvd.getFilm().getStudio() }}</li>
	</ul>
	<h2>Genres</h2>
	<ul>
		{% for genre in dvd.getFilm().getGenres() %}
			<li>{{ genre.name }}</li>
		{% endfor %}
	</ul>
	<h2>Acteurs</h2>
	<ul>
		{% for actor in dvd.getFilm().getActors() %}
			<li>{{ actor }}</li>
		{% endfor %}
	</ul>
{% endblock %}
