<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Projet Symfony _ Site en Ligne!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{ asset('css/app.css') }}">
	</head>
	<body>
		<header>
			<h1>Commander vos DVD preferes</h1>
			<nav>
				<ul>
					<li><a href="{{ path('home') }}">Accueil</a></li>
          <li><a href="{{ path('catalog') }}">Catalogue</a></li>
          <li><a href="{{ path('account') }}">Mon Compte</a></li>
          <li><a href="{{ path('basket') }}">Panier</a></li>

				</ul>
			</nav>
		</header>
		<main>
			{% block body %}{% endblock %}
		</main>
		<footer>
			<p>&copy; 2024 DVD Rental Store - Aristide Sthephane Ouedraogo</p>
		</footer>
	</body>
</html>
